<prx-card>
    <div class="shapes-wrapper">
        <div class="main-shape">
            <prx-img image="covid/dr.svg" class="avatar"></prx-img>
        </div>
    </div>

    <prx-card-body class="card-note">
        <h2 class="bold">Protect yourself</h2>

        <p class="text-muted lead">
            Please follow the experts advices about how to protect yourself and
            others.
        </p>

        <p>
            Learn more about
            <a
                class="bold dotted"
                href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public"
                target="_blank"
                >COVID-19</a
            >
        </p>

        <p
            class="handwritten font-md d-block mt-5 mb-0 text-center text-primary"
        >
            Stay home!!!
        </p>
    </prx-card-body>
</prx-card>
