@import "import";

.icon {
    width: 1rem;
    height: 1rem;
}

.tab-title {
    max-width: 48px;
    @include text-truncate();

    @include media-breakpoint-up(xl) {
        max-width: none;
    }
}
