<a class="product-category text-muted font-sm" href="javascript:;">{{
    product.category
}}</a>
<h5 class="product-title">
    <a [routerLink]="['/store/products', product.slug]" class="text-darker">{{
        product.name
    }}</a>
</h5>

<div class="center-flex justify-content-between flex-wrap">
    <div class="product-price d-flex align-items-end">
        <div class="text-primary light lead">
            <span>${{ product.price.current }}.</span>
            <sup>00</sup>
        </div>

        <del
            class="text-muted light strike-through ml-2"
            *ngIf="product.price.banned"
        >
            <span>${{ product.price.banned }}.</span>
            <sup>00</sup>
        </del>
    </div>

    <rating
        [(ngModel)]="product.rating"
        [max]="5"
        [readonly]="true"
        class="text-warning"
    ></rating>

    <!-- <button class="btn btn-primary">
    <prx-icon [icon]="icons.cart"></prx-icon>
  </button> -->
</div>
