<!--  style="background-image: url(https://picsum.photos/600/300/?random&gravity=east)" -->

<prx-card class="overflow-hidden">
    <prx-card-body
        class="blanket gradient gradient-purple-blue alpha-7 image-background cover center-bottom"
    >
        <div class="content">
            <h5 class="mb-5 text-contrast">Day most engaging post</h5>

            <img
                src="https://picsum.photos/600/300/?random&gravity=east"
                alt=""
                class="img-responsive rounded shadow"
            />
            <nav class="nav mb-5 mt-3">
                <a
                    href="javascript:void(0)"
                    class="text-contrast nav-link pl-0"
                >
                    <prx-icon icon="heart" class="mr-2"></prx-icon>
                    <span class="small bold">3,751</span>
                </a>

                <a href="javascript:void(0)" class="text-contrast nav-link">
                    <prx-icon icon="message-square" class="mr-2"></prx-icon>
                    <span class="small bold">274</span>
                </a>
            </nav>

            <p class="text-contrast alpha-5 small">
                <prx-icon icon="clock" size="sm" class="mr-3"></prx-icon>
                Jan 10, 2020 @ 03:54 pm
            </p>
            <p class="text-contrast">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusantium adipisci blanditiis consequatur cupiditate dolor,
                eius eos esse expedita harum, laudantium modi odit officia
                possimus quis reiciendis tempore voluptates! Aspernatur,
                maiores.
            </p>

            <div class="d-flex mt-5">
                <prx-icon
                    icon="tag"
                    size="sm"
                    class="text-contrast mr-3 mt-2"
                ></prx-icon>

                <nav class="d-flex flex-wrap flex-row align-items-center">
                    <a href="javascript:;" class="badge badge-success mr-2 mt-2"
                        >development</a
                    >
                    <a href="javascript:;" class="badge badge-info mr-2 mt-2"
                        >software</a
                    >
                    <a href="javascript:;" class="badge badge-danger mr-2 mt-2"
                        >startup</a
                    >
                    <a href="javascript:;" class="badge badge-warning mr-2 mt-2"
                        >dashboard</a
                    >
                    <a href="javascript:;" class="badge badge-light mr-2 mt-2"
                        >marketing</a
                    >
                    <a href="javascript:;" class="badge badge-info mr-2 mt-2"
                        >social</a
                    >
                    <a href="javascript:;" class="badge badge-dark mt-2">app</a>
                </nav>
            </div>
        </div>
    </prx-card-body>
</prx-card>
