<form class="form">
    <p class="lead bold">Login</p>

    <div class="form-group">
        <label class="control-label">User name</label>
        <input type="text" class="form-control" placeholder="User name" />
    </div>

    <div class="form-group">
        <label class="control-label">Password</label>
        <input type="password" class="form-control" placeholder="Password" />
    </div>

    <div class="form-group">
        <hr />
        <button class="btn btn-primary btn-block">Login</button>
    </div>
</form>
