<prx-page-header pre="Contacts" title="Contact List" [sub]="totalCount">
    <ng-container page-tools>
        <ul class="nav">
            <li class="nav-item mr-2 d-none d-md-inline-flex">
                <input
                    type="text"
                    class="form-control"
                    placeholder="Search contacts..."
                />
            </li>
            <li class="nav-item mr-2">
                <div class="btn-group">
                    <button
                        class="btn btn-outline-gray"
                        [(ngModel)]="isTableView"
                        [btnRadio]="false"
                    >
                        <prx-icon [icon]="icons.list"></prx-icon>
                    </button>
                    <button
                        class="btn btn-outline-gray"
                        [(ngModel)]="isTableView"
                        [btnRadio]="true"
                    >
                        <prx-icon [icon]="icons.table"></prx-icon>
                    </button>
                </div>
            </li>
            <li class="nav-item mr-2">
                <a href="" class="btn btn-primary nav-link">
                    <prx-icon [icon]="icons.add"></prx-icon> Add Contact
                </a>
            </li>

            <li class="nav-item ml-auto ml-md-0">
                <prx-context-menu>
                    <a class="dropdown-item" href="javascript:;">Export</a>
                    <a class="dropdown-item" href="javascript:;"
                        >Another action</a
                    >
                    <a class="dropdown-item" href="javascript:;"
                        >Something else here</a
                    >
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:;"
                        >Separated link</a
                    >
                </prx-context-menu>
            </li>
        </ul>

        <input
            type="text"
            class="form-control d-md-none mt-2 mt-md-0"
            placeholder="Search contacts..."
        />
    </ng-container>
</prx-page-header>

<div class="container-fluid">
    <prx-card>
        <prx-card-body>
            <ng-container *ngIf="contacts && contacts.length; else loading">
                <ngx-datatable
                    class="ngx-datatable responsive {{ tableStyles }}"
                    [rows]="contacts"
                    [columnMode]="ColumnMode.force"
                    headerHeight="auto"
                    [rowHeight]="false"
                    footerHeight="auto"
                    [limit]="10"
                    [selected]="selected"
                    [selectionType]="SelectionType.checkbox"
                    [selectAllRowsOnPage]="false"
                    (select)="onSelect($event)"
                >
                    <!-- Checkbox Column -->
                    <ngx-datatable-column
                        [width]="30"
                        [sortable]="false"
                        [canAutoResize]="false"
                        [draggable]="false"
                        [resizeable]="false"
                    >
                        <ng-template
                            ngx-datatable-header-template
                            let-value="value"
                            let-allRowsSelected="allRowsSelected"
                            let-selectFn="selectFn"
                        >
                            <prx-checkbox
                                [checked]="allRowsSelected"
                                (onChanged)="selectFn(!allRowsSelected)"
                            ></prx-checkbox>
                        </ng-template>
                        <ng-template
                            ngx-datatable-cell-template
                            let-value="value"
                            let-isSelected="isSelected"
                            let-onCheckboxChangeFn="onCheckboxChangeFn"
                        >
                            <div class="d-flex justify-content-between">
                                <prx-checkbox
                                    [checked]="isSelected"
                                    (onChanged)="onCheckboxChangeFn($event)"
                                ></prx-checkbox>

                                <prx-context-menu
                                    appendToBody="true"
                                    class="d-md-none"
                                >
                                    <a
                                        class="dropdown-item"
                                        href="javascript:;"
                                    >
                                        <span class="d-inline-block w-20px"
                                            ><prx-icon
                                                [icon]="icons.edit"
                                            ></prx-icon
                                        ></span>
                                        Edit Contact
                                    </a>
                                    <a
                                        class="dropdown-item"
                                        href="javascript:;"
                                    >
                                        <span class="d-inline-block w-20px"
                                            ><prx-icon
                                                [icon]="icons.copy"
                                            ></prx-icon
                                        ></span>
                                        Duplicate
                                    </a>
                                    <div class="divider dropdown-divider"></div>
                                    <a
                                        class="dropdown-item text-danger"
                                        href="javascript:;"
                                    >
                                        <span class="d-inline-block w-20px"
                                            ><prx-icon
                                                [icon]="icons.delete"
                                            ></prx-icon
                                        ></span>
                                        Remove
                                    </a>
                                </prx-context-menu>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                    <!-- Column Definitions -->
                    <ngx-datatable-column name="Name">
                        <ng-template
                            let-contact="row"
                            let-value="value"
                            ngx-datatable-cell-template
                        >
                            <small class="text-muted d-block d-md-none"
                                >Name</small
                            >
                            <a [routerLink]="['../', contact.email, 'details']">
                                <prx-avatar-info
                                    [name]="value"
                                    [info]="contact.email"
                                    size="md"
                                >
                                    <prx-avatar
                                        [avatar]="getAvatarFromContact(contact)"
                                        size="md"
                                    ></prx-avatar>
                                </prx-avatar-info>
                            </a>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Country">
                        <ng-template
                            let-contact="row"
                            let-value="value"
                            ngx-datatable-cell-template
                        >
                            <small class="text-muted d-block d-md-none"
                                >Country</small
                            >
                            <div class="media">
                                <prx-flag
                                    [flag]="contact.nat"
                                    class="mr-2"
                                ></prx-flag>
                                <div class="media-body bold">
                                    {{ contact.location.country }}
                                </div>
                            </div>
                            <p class="text-muted small my-0">
                                {{ contact.location.city }},
                                {{ contact.location.state }}
                            </p>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Company">
                        <ng-template
                            let-value="value"
                            ngx-datatable-cell-template
                        >
                            <small class="text-muted d-block d-md-none"
                                >Company</small
                            >
                            {{ value }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Phone">
                        <ng-template
                            let-value="value"
                            ngx-datatable-cell-template
                        >
                            <small class="text-muted d-block d-md-none"
                                >Phone</small
                            >
                            {{ value }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Tags">
                        <ng-template
                            let-tags="value"
                            ngx-datatable-cell-template
                        >
                            <small class="text-muted d-block d-md-none"
                                >Tags</small
                            >
                            <div class="d-flex flex-wrap">
                                <span
                                    class="badge badge-light border rounded-pill text-truncate mr-1 mt-1"
                                    *ngFor="let tag of tags"
                                    >{{ tag }}</span
                                >
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Status">
                        <ng-template
                            let-contact="row"
                            let-value="value"
                            ngx-datatable-cell-template
                        >
                            <small class="text-muted d-block d-md-none"
                                >Status</small
                            >
                            <span
                                class="text-capitalize text-{{
                                    contact.statusClass
                                }}"
                            >
                                <prx-icon
                                    [icon]="icons.dot"
                                    size="sm"
                                ></prx-icon>
                                {{ contact.status }}
                            </span>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Registered">
                        <ng-template
                            let-value="value"
                            ngx-datatable-cell-template
                        >
                            <small class="text-muted d-block d-md-none"
                                >Registered</small
                            >
                            {{ value.date | date }}
                        </ng-template>
                    </ngx-datatable-column>

                    <!-- Actions Column -->
                    <ngx-datatable-column
                        [width]="80"
                        [sortable]="false"
                        [canAutoResize]="false"
                        [draggable]="false"
                        [resizeable]="false"
                        cellClass="d-none d-md-flex"
                    >
                        <ng-template
                            let-contact="row"
                            ngx-datatable-cell-template
                        >
                            <div class="d-flex justify-content-end">
                                <prx-context-menu appendToBody="true">
                                    <a
                                        class="dropdown-item"
                                        [routerLink]="[
                                            '../',
                                            contact.email,
                                            'details'
                                        ]"
                                    >
                                        <span class="d-inline-block w-20px"
                                            ><prx-icon
                                                [icon]="icons.details"
                                            ></prx-icon
                                        ></span>
                                        <span class="bold">Details</span>
                                    </a>

                                    <a
                                        class="dropdown-item"
                                        href="javascript:;"
                                    >
                                        <span class="d-inline-block w-20px"
                                            ><prx-icon
                                                [icon]="icons.edit"
                                            ></prx-icon
                                        ></span>
                                        Edit Contact
                                    </a>
                                    <a
                                        class="dropdown-item"
                                        href="javascript:;"
                                    >
                                        <span class="d-inline-block w-20px"
                                            ><prx-icon
                                                [icon]="icons.copy"
                                            ></prx-icon
                                        ></span>
                                        Duplicate
                                    </a>
                                    <div class="divider dropdown-divider"></div>
                                    <a
                                        class="dropdown-item text-danger"
                                        href="javascript:;"
                                    >
                                        <span class="d-inline-block w-20px"
                                            ><prx-icon
                                                [icon]="icons.delete"
                                            ></prx-icon
                                        ></span>
                                        Remove
                                    </a>
                                </prx-context-menu>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </ng-container>

            <ng-template #loading>
                <prx-loader
                    [template]="'table'"
                    [isLoading]="isLoading"
                    [count]="3"
                ></prx-loader>
            </ng-template>
        </prx-card-body>
    </prx-card>
</div>
