@import "import";

.icon {
    &.category {
        width: 2rem;
        height: 2rem;
    }
}

.color-item {
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: $card-border-radius;
}
