<prx-page-header title="Dashboard" pre=""></prx-page-header>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-7 order-md-last">
            <prx-crm-news></prx-crm-news>
        </div>
        <div class="col-md-5">
            <prx-crm-statistics></prx-crm-statistics>
        </div>
    </div>

    <!--div class="row">
        <div class="col-lg-8">
            <prx-crm-revenue></prx-crm-revenue>
        </div>

        <div class="col-lg-4">
            <prx-crm-tasks></prx-crm-tasks>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5">
            <prx-crm-projects></prx-crm-projects>
        </div>

        <div class="col-lg-7">
            <prx-crm-sales></prx-crm-sales>
        </div>
    </div-->
</div>
