<div class="container-fluid pt-8">
    <div class="row">
        <div class="col-md-6 mx-md-auto">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h2>Tickets Management</h2>
                    <p class="lead">
                        We're working hard to bring you a full featured template
                    </p>

                    <p>
                        We're working in create multiple features for Tickets
                        Management Components and Dashboard
                    </p>
                </div>

                <div class="col-md-6">
                    <prx-img image="apps/tickets.svg"></prx-img>
                </div>
            </div>
        </div>
    </div>
</div>
