<div [ngSwitch]="content">
    <ng-container *ngSwitchCase="1">
        <p>
            Quibusdam sapiente doloremque, amet tenetur nulla voluptate, enim
            expedita, distinctio illum illo quos perferendis quia quae mollitia
            porro eum? Doloribus, blanditiis ad.
        </p>
        <p>
            Iure autem hic magnam cum esse, alias ipsam laudantium quod nobis
            expedita culpa, ullam unde, ea odio atque laborum ad et velit.
        </p>
    </ng-container>

    <ng-container *ngSwitchCase="2">
        <p>
            Accusamus distinctio saepe in harum quos, eos alias. Quo at harum,
            ex reiciendis numquam non voluptas, consequuntur optio enim officia
            veniam autem.
        </p>
    </ng-container>

    <ng-container *ngSwitchCase="3">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, eum
            reprehenderit assumenda vero officiis consequatur sunt ipsum sequi
            esse soluta vel sit excepturi? Alias vel nemo consequuntur repellat,
            ducimus libero.
        </p>
    </ng-container>
</div>
