<h2 class="mb-5">Terms and Conditions</h2>

<prx-card>
    <prx-card-body>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
            assumenda error obcaecati nemo, dolores quos architecto totam
            possimus autem consequuntur eaque facere corrupti quia deleniti
            maxime! Vel, ab. Sunt, dicta?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
            quisquam sed neque fugit praesentium earum repellat ex, facilis
            rerum excepturi ipsam est possimus, distinctio ipsa adipisci
            accusamus. Quo, numquam fugit.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias,
            saepe ut. Reprehenderit sequi vitae quae sed, a non impedit optio
            sunt corporis necessitatibus repudiandae fugit? Porro deleniti
            mollitia placeat nam.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
            assumenda error obcaecati nemo, dolores quos architecto totam
            possimus autem consequuntur eaque facere corrupti quia deleniti
            maxime! Vel, ab. Sunt, dicta?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
            quisquam sed neque fugit praesentium earum repellat ex, facilis
            rerum excepturi ipsam est possimus, distinctio ipsa adipisci
            accusamus. Quo, numquam fugit.
        </p>
    </prx-card-body>
</prx-card>

<prx-checkbox
    label="I have read and agreed to the followint terms and conditions"
></prx-checkbox>
