<prx-card class="overflow-hidden">
    <div class="shapes-wrapper">
        <div class="static-shape shape-circle shape-circle-1"><div></div></div>

        <div class="static-shape shape-ring shape-ring-1">
            <div class="animation animation-rotating-clockwise"></div>
        </div>

        <div class="static-shape shape-main">
            <img src="assets/img/scenes/social-media.svg" alt="" />
        </div>
    </div>

    <prx-card-body class="pb-6 p-md-5">
        <div class="row">
            <div class="col-md-6">
                <p class="text-group">Update your personal information</p>
                <h2 class="mb-4">Personal Settings</h2>

                <p>
                    <span class="semi-bold"
                        >Use this space to display a detailed description of the
                        purpose of the page.</span
                    >
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Magni ipsa at saepe a, provident minus, eaque earum
                    architecto similique, aut rerum quo accusantium vitae libero
                    neque quibusdam mollitia temporibus quam!
                </p>

                <p class="text-muted">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Aliquid praesentium commodi quia corporis eaque, ullam
                    beatae facilis repellat! Consectetur officia placeat nobis,
                    provident velit quidem ullam harum minima eos veritatis!
                </p>
            </div>

            <div class="col-md-6 col-xl-5 ml-xl-auto">
                <form novalidate>
                    <h4 class="text-group mb-4">Personal Information</h4>

                    <div class="form-group">
                        <label class="control-label">First Name</label>
                        <input class="form-control" type="text" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Last Name</label>
                        <input class="form-control" type="text" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Company Name</label>
                        <input class="form-control" type="text" />
                    </div>

                    <div class="mb-4 mt-5">
                        <h4 class="text-group">Contact Information</h4>
                        <span class="form-text text-muted"
                            >We'll never share your contact information with
                            anyone.</span
                        >
                    </div>

                    <div class="form-group">
                        <label class="control-label">Contact Phone</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <prx-icon icon="phone" size="sm"></prx-icon>
                                </span>
                            </div>
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Phone"
                            />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Email Address</label>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <prx-icon icon="mail" size="sm"></prx-icon>
                                </span>
                            </div>
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Email"
                            />
                        </div>
                    </div>

                    <hr class="my-4" />
                    <div class="form-group">
                        <button class="btn btn-primary">
                            Save Information
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </prx-card-body>
</prx-card>
