<prx-page-header pre="UI Elements" title="Wizards"></prx-page-header>

<div class="container-fluid">
    <prx-card>
        <prx-card-body class="py-5">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <prx-wizard-bulleted linear>
                        <prx-wizard-step>
                            <prx-wizard-step-welcome></prx-wizard-step-welcome>
                        </prx-wizard-step>

                        <prx-wizard-step>
                            <prx-wizard-step-personal></prx-wizard-step-personal>
                        </prx-wizard-step>

                        <prx-wizard-step>
                            <prx-wizard-step-options></prx-wizard-step-options>
                        </prx-wizard-step>

                        <prx-wizard-step>
                            <prx-wizard-step-terms></prx-wizard-step-terms>
                        </prx-wizard-step>

                        <prx-wizard-step>
                            <prx-wizard-step-thank-you></prx-wizard-step-thank-you>
                        </prx-wizard-step>
                    </prx-wizard-bulleted>
                </div>
            </div>
        </prx-card-body>
    </prx-card>
</div>
