<prx-page-header pre="Data Tables" title="Filtering"></prx-page-header>

<div class="container-fluid">
    <prx-card title="Client-side Simple Filter">
        <prx-card-body>
            <ng-container *ngIf="users && users.length; else loading">
                <form [formGroup]="form" class="form cozy" novalidate>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label class="control-label">Filter by Name</label>
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Type to filter the name column..."
                                formControlName="name"
                                (keyup)="updateFilter(form)"
                            />
                        </div>

                        <!-- This is a text field for demonstration, in a real environment you probably will use a dropdown or select -->
                        <div class="col-md-6">
                            <label class="control-label"
                                >Filter by Country</label
                            >
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Type to filter the country column..."
                                formControlName="country"
                                (keyup)="updateFilter(form)"
                            />
                        </div>
                    </div>
                </form>

                <ngx-datatable
                    class="table table-hover"
                    [rows]="filteredUsers"
                    [columns]="columns"
                    [columnMode]="ColumnMode.force"
                    headerHeight="auto"
                    [rowHeight]="false"
                    footerHeight="auto"
                    [limit]="10"
                >
                </ngx-datatable>
            </ng-container>

            <ng-template #loading>
                <prx-loader
                    [template]="'table'"
                    [isLoading]="isLoading"
                    [count]="2"
                ></prx-loader>
            </ng-template>
        </prx-card-body>
    </prx-card>
</div>
